<div class="container-fluid outer-main">
    <div class="container main">
        <div class="container inner-main p-3">
            <h1 class="login-head"><i>Login here !</i></h1>
        
            <!--Login Form-->
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-size">
                <div class="row">
                    <div class="col-12 p-2">
                        <label>Username</label>
                    </div>
                    <div class="col-12">
                        <input type="text" placeholder="Enter username" formControlName="userName"class="form-control input-size">
                        <span class="text-danger" *ngIf="userName && userName.invalid && userName.touched">Please enter a valid username</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-2">
                        <label>Password</label>
                    </div>
                    <div class="col-12 p-2">
                        <input type="text" placeholder="Enter password" formControlName="password" class="form-control input-size">
                        <span class="text-danger" *ngIf="password && password.invalid && password.touched">Please enter a strong password</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-2">
                        <label>Are you Employee or Manager ?</label>
                    </div>
                    <div class="col-12 p-2">
                        <select  formControlName="type" class="form-control input-size">
                            <option value="EMPLOYEE">Employee</option>
                            <option value="MANAGER">Manager</option>
                        </select>
                        <span class="text-danger" *ngIf="password && password.invalid && password.touched">Please enter a strong password</span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 p-2">
                        <button class="form-control btn input-size" [ngClass]="{'btn-success' : viewChange, 'btn-danger' : !viewChange}" >{{status}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

