
.main {
    background-color: #E4E0DB;
    width: 75%;
    padding: 40px;
}

.outer-main {
    background-color: #ffdfd8;
    width: 100%;
    padding: 40px;
}

.login-head {
    margin-left: 270px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
label {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.inner-main {
    background-color: #F4F1EC;
    width: 100%;
  
}
.input-size {
    width: 50%;
}
.form-size {
    margin-left: 170px;
    width: 100%;
}