

.main {
    background-color: lightblue;
}
.dashboard {
    background-color: #E4E5FE;
    padding: 30px;
}


.btn-size {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:  #25274E;
    color: whitesmoke;
}